<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <title>What should I listen to?</title>
</head>

<body>
  <div class="emojiContainer"><a class="emoji" href="generate"><img  src="{{ url_for('static',filename='images/think.png') }}" alt="thinkn face"></a></div>
  <svg xmlns="http://www.w3.org/2000/svg" xml:lang="en" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-97 0 700 425">
    <title>Circular Text Path</title>
    <defs>
      <path id="textcircle" d="M250,400
                  a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z" transform="rotate(12,250,250)" />
    </defs>
    <g class="textcircle">
      <text textLength="940">
        <textPath 
                  xlink:href="#textcircle" 
                  aria-label="text circle path" 
                  textLength="940">
                  What Should I Listen To? &#9658 What Should I Listen to? &#9658 
        </textPath>
      </text>
    </g>
  </svg>
  <div class="song">
    <p></p>
  </div>
</body>
</html>