h1
{
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 10px;
}

div p
{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4px;
    text-shadow: 2px 2px 5px black;
    position:relative;
}

.song
{
    transform: translateY(150%);
    width: 50vw;
    height: 200px;
    /*padding: 100px;*/
    justify-content: center;
    margin: auto;
    text-align: center;
}

/*button
{   
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 210px;
    border: 1px solid #000;
    border-radius: 220px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.25);   
    position: fixed;
    transform: translateY(500%);
}

button a
{
    text-decoration: none;
    opacity: 100%;
    color: #000;
}*/

.emojiContainer
{
    position: absolute;
    transform: translate(-1%, 79%);
    transition: 0.5s;
}

.emoji
{
    transform: rotate(-10deg);
    animation: emojiPNG 15s infinite;
    display: inline-flex;
    /* height: 370px;
    width: 370px; */
    width: 35vmin;
    height: 35vmin;
    margin: auto;
    opacity: 100%;
    transition: 0.5s;
}

.emojiContainer:hover
{
    position: absolute;
    margin: auto;
    /* transform: translate(0px, -61%); */
    transform: scale(90%) translate(0px, 110%);
    opacity: 80%;
}

.emoji:hover
{
    width: 30vmin;
    height: 30vmin;
}

@keyframes emojiPNG 
{
    50% {transform: rotate(20deg);}
}

body
{
    text-align: center;
    text-decoration: none;
    background: radial-gradient(#2dc5ac, #25205f);
    background-color: #2a2561;
    margin: 0px;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

text {
    fill: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-variant-ligatures: none;
    letter-spacing: 6px;
    animation: rotate 25s linear infinite;
    transform-origin: 250px 250px; /**/
    text-shadow: 2px 2px 5px black;
}

svg{
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    /* transform: translate(2px, 0%); */
    z-index: -2;
}

@keyframes rotate {
to {
    transform: rotate(360deg);
}
}

.textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 100px 100px;

}

/* @media screen and (max-width: 390px){

    body
    {
        text-align: center;
        text-decoration: none;
        display: grid;
        place-items: center;
        min-height: 100vh;
        overflow: hidden;
    }

        .emojiContainer
    {
        position: absolute;
        transform: translate(83px, 81%);
        transition: 0.5s;
    }

    .emoji
    {
        height: 215px;
        width: 215px;
        max-width: 60vmin;
        max-height: 60vmin;
        transition: 1s;
    }

    .emojiContainer:hover
    {
        position: absolute;
        transform: translate(83px, 81%);
        transition: 0.5s;
    }

    .emoji:hover
    {
        height: 215px;
        width: 215px;
        max-width: 60vmin;
        max-height: 60vmin;
        transition: 1s;
    }

    svg
    {
        max-width: 200vmin;
        height: 300px;
        position: absolute;
        transform: translate(-11%, 34%);
    }

    div p
    {
        color: rgb(255, 255, 255);
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-shadow: 2px 2px 5px black;
        position:relative;
        max-width: 300px;
        margin:auto;
        transform: translate(-54%, 50%);
        
    }

    /*p
    {
        transform: translateY(0%);
        font-size: medium;
        text-align: center;
    }

    /*button
    {   
        
        position: relative;
        justify-content: center;
        margin: auto;
        text-align: center;
        
        transform: translateY(0%);
    }*//*
} */